/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// fonts
$base-font-size: 15px;
$body-font: "Comfortaa", sans-serif;
$heading-font: "Montserrat", sans-serif;


// color
$title: #0A2C8C;//
$body-color: #f1efef;
$white: #ffffff;
$small-white: #F6F5FF;
$light: #A39FBA;
$olio: #FEF6E9;
$black: #000;
$small-black: #262b3e;
$pra: #7A7A7A;

$template-color: #FF693B;//
$body-bg-color: #fff;
$section-color: #0A0049;
$text-color: #d4d4d6;
$text-light-color: #7385A1;
$heading-color: $title;
$border-color: #30465C;
$border-color-s2: #d9dde4



  