.BannerSection {
    position: relative;
    background: #23272A;
    z-index: 1;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        background: url(../images/HeroSection/bg.png) center / cover no-repeat;
        height: 100%;
        z-index: -1;
    }

    .shape {
        position: absolute;
        left: 0;
        top: 10%;
        z-index: 1;

        @media (max-width:991px) {
            display: none;
        }
    }

    .shape-2 {
        position: absolute;
        right: 0;
        top: 10%;
        z-index: 1;

        @media (max-width:991px) {
            display: none;
        }
    }
}

// TimeSection
.TimeSection {
    margin-bottom: 44px;


    .wraper {
        max-width: 926px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width:991px) {
            gap: 20px;
        }

        @media (max-width:767px) {
            flex-wrap: wrap;
        }


    }

    .item {
        width: 25%;
        border-radius: 20px;
        border: 2px solid #23272A;
        background: #1C2124;
        padding: 8px;
        position: relative;
        text-align: center;
        margin-bottom: 30px;

        @media (max-width:767px) {
            width: 48%;
        }

        @media (max-width:575px) {
            width: 100%;
        }

        img {
            width: 100%;
        }

        .text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            h2 {
                color: #FFF;
                font-size: 50px;
                font-weight: 700;
                letter-spacing: 0.65px;

                @media (max-width:991px) {
                    font-size: 40px;
                }
            }

            span {
                color: #C38F0F;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.192px;
            }
        }
    }
}


// TicketForm
.TicketForm,
.TicketFormS2 {
    position: relative;
    z-index: 1;

    .shape-bg {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
        height: 100%;
        transform: translate(-50%, -50%);
    }

    .wraper {
        border-radius: 30px;
        border: 2px solid #23272A;
        background: rgba(28, 33, 36, 0.50);
        padding: 50px 30px;
        position: relative;

        @media (max-width:575px) {
            padding: 20px 10px;
        }

        span {
            color: #FFF;
            font-size: 26px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0.312px;
            margin-bottom: 30px;
            display: block;
        }

        .icon {
            position: absolute;
            right: 30px;
            top: 50px;
        }
    }

    .Form-wrap {}

    .fild {
        margin-bottom: 24px;
        position: relative;

        @media (max-width:991px) {
            margin-bottom: 10px;
        }

        img {
            position: relative;
            top: -45px;
            left: 19px;
        }

        .icon5 {
            position: absolute;
            bottom: 10px;
            right: 28px;

            img {
                position: relative;
                top: 0;
                left: 0;
            }
        }

        label {
            display: block;
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.192px;
            margin-bottom: 15px;
        }

        .control {
            width: 100%;
            padding: 18px 20px;
            padding-left: 60px;
            border-radius: 13px;
            border: 1px solid rgba(255, 255, 255, 0.03);
            background: rgba(255, 255, 255, 0.03);
            background: rgba(255, 255, 255, 0.03);
            color: #475155;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.168px;

            &:focus-visible {
                outline: 1px solid var(--Primary, #C38F0F);
            }
        }
    }

    button {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.192px;
        display: inline-block;
        display: flex;
        width: 400px;
        padding: 17px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 auto;
        border-radius: 13px;
        background: url(../images/Btn.png);
        margin-top: 6px;
        border: 0;

        @media (max-width:575px) {
            width: 250px;
            padding: 15px 20px;
        }
    }

}



// TokenmicsSection

.TokenmicsSection {
    background: #171A1B;
    padding-top: 177px;

    @media (max-width:991px) {
        padding-top: 70px;
    }

    .title {
        h2 {
            color: #FFF;
            font-size: 50px;
            font-weight: 700;
            letter-spacing: 0.65px;
            margin-bottom: 0;

            @media (max-width:991px) {
                font-size: 40px;
            }

            @media (max-width:767px) {
                font-size: 30px;
            }
        }

        span {
            color: #939FA3;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.192px;
        }
    }


    .btn-a {
        text-align: end;

        @media (max-width:991px) {
            text-align: left;
            margin-top: 20px;
        }

        a {
            padding: 17px 30px;
            gap: 10px;
            border-radius: 13px;
            width: 190px;
            height: 60px;
            padding: 17px 30px;
            background: url(../images/Btn2.png) center/ cover no-repeat;
            color: var(--White, #FFF);
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.192px;
            display: inline-block;
        }
    }


    .Tokenmics-right {
        @media (max-width:991px) {
            margin-top: 30px;
            overflow: hidden;
        }
        
        h2 {
            color: #FFF;
            font-family: $body-font;
            font-size: 26px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0.312px;
        }

        p {
            color: var(--Paragraph, #939FA3);
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.168px;

        }

        span {
            color: var(--Paragraph, #939FA3);
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.168px;
            display: block;
@media (max-width:767px) {
    display: inline-block;
}
            strong {
                color: var(--White, #FFF);
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.168px;
            }
        }
    }

    .content {
        margin-top: 30px;
        margin: 0 -15px;

        li {
            display: inline-flex;
            padding: 20px;
            align-items: center;
            border-radius: 16px;
            border: 1px solid var(--Stroke, #23272A);
            margin: 15px;

            .color {
                border-radius: 7px;
                background: conic-gradient(from 180deg at 50% 50%, #4D5CFF 0deg, #2E3799 360deg);
                width: 37px;
                height: 37px;
                margin-right: 20px;
            }

            span {
                color: #939FA3;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.192px;
                display: inline-block;

                .prsent {
                    color: #4D5CFF;
                    display: inline-block;
                    padding-right: 5px;
                }
            }

            &:nth-child(2) {
                .color {
                    background: conic-gradient(from 180deg at 50% 50%, #C38F0F 0deg, #5D4407 360deg);
                }
                span {
    
                    .prsent {
                        color: #C38F0F;
                    }
                }
            }
             &:nth-child(3) {
                .color {
                    background: conic-gradient(from 180deg at 50% 50%, #10EB52 0deg, #09852E 360deg);
                }
                span {
    
                    .prsent {
                       color: #10EB52;
                    }
                }
            }
             &:nth-child(4) {
                .color {
                    background: conic-gradient(from 180deg at 50% 50%, #E94B4E 0deg, #832A2C 360deg);
                }
                span {
    
                    .prsent {
                        color: #E94B4E;
                    }
                }
            } 
                 &:last-child {
                .color {
                    background: conic-gradient(from 180deg at 50% 50%, #7B0FC3 0deg, #3B075D 360deg);
                }
                span {
    
                    .prsent {
                        color:#7B0FC3;
                    }
                }
            }
        }
    }
}





// FAQSection

.FAQSection {
    padding: 177px 0;
    background: #171A1B;
    position: relative;
    z-index: 1;

    @media (max-width:991px) {
        padding: 100px 0 70px;
    }

    .shape {
        position: absolute;
        left: 50%;
        top: 20%;
        z-index: -1;
        transform: translateX(-50%);
    }

    .title {
        text-align: center;
        margin-bottom: 50px;

        h2 {
            color: #FFF;
            font-size: 50px;
            font-weight: 700;
            letter-spacing: 0.65px;

            @media (max-width:991px) {
                font-size: 40px;
            }

            @media (max-width:991px) {
                font-size: 35px;
            }
        }

        span {
            color: #939FA3;
            font-size: 19px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.192px;
            max-width: 758px;
            margin: 0 auto;
        }
    }
}


.accordion {


    .accordion-item {
        background: transparent;
        margin-bottom: 20px;
        border-radius: 17px;
        border: 1px solid #23272A;

        .accordion-button {
            background: transparent;

            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.192px;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;
        }

        .accordion-button:focus {
            border: 0;
            box-shadow: none;
        }

        .accordion-button::after {
            background-image: url(../images/PlusCircle.png);
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url(../images/PlusCircle-.png);
        }

        p {
            margin-bottom: 0;
            color: #939FA3;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.168px;
        }
    }
}

// TicketFormS2
.TicketFormS2 {
    background: #171A1B;

    padding-bottom: 177px;

    @media (max-width:991px) {
        padding-bottom: 70px;
    }

    button {
        margin: 0;
        width: 150px;
        height: 60px;
        padding: 17px 30px;
        background: url(../images/Btn2.png);
    }

    .wraper {
        position: relative;
        z-index: 11;
        overflow: hidden;
        border-radius: 30px;
        border: 2px solid #23272A;
        background: rgba(28, 33, 36, 0.80);

        .shape {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            z-index: -11;
            transform: translate(-50%, -50%);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


.partners-section-s3 {
    background: #171A1B;


    padding-bottom: 177px;

    @media (max-width:991px) {
        padding-bottom: 70px;
    }


    .slick-track {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px dashed var(--Paragraph, #939FA3);
        border-bottom: 2px dashed var(--Paragraph, #939FA3);
    }



    ul {

        li {
            display: flex;
            align-items: center;
            height: 175px;
            text-align: center;
            justify-content: center;

            @media (max-width:757px) {
                height: 120px;
            }

        }

        .slick-slide {


            img {
                width: auto;
                margin: 0 auto;
            }
        }
    }



    .slick-initialized .slick-slide {}

    ul {
        li {
            display: flex !important;
            border: 0;
            height: 255px;

            @media (max-width:1199px) {
                height: 155px;
            }
        }
    }
}